{% extends 'journal/navbar.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <br>

    <div class ="container  bg-white shadow-md p-5 form-layout">

        <h3>Update user and email</h3>

        <p>you may change your email and username down below:</p>
        
        <br>

        <form method ="POST"autocomplete ="off">
            {% csrf_token %}
    
            {{UserUpdateForm|crispy}}
    
            <br> 
    
            <button class="btn btn-outline-primary btn-md w-100 btn-block p-3" type = "submit"> Update </button>
    
    
        </form>

    </div>

    <br>


    <div class ="container  bg-white shadow-md p-5 form-layout">

        <h3>Update profile picture</h3>

        <p>you may change or upload your profile pictur below:</p>
        
        <br>

        <form method ="POST"autocomplete ="off" enctype ="multipart/form-data">
            {% csrf_token %}
    
            {{ProfileUpdateForm|crispy}}
    
            <br> 
    
            <button class="btn btn-outline-primary btn-md w-100 btn-block p-3" type = "submit"> Upload profile picture </button>
    
    
        </form>

    </div>

    <br>

    <div class ="container  bg-white shadow-md p-5 form-layout">

        <h3>Delete your account</h3>
        
        <br>

        <a href="{% url 'delete-account' %}">Proceed to delete your account</a>


    </div>

    <br>

   
{% endblock %}